---
- name: Install Required RedHat Packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - which

- name: Add Neo4j Yum Repo
  yum_repository:
    name: neo4j
    description: Neo4j Yum Repo
    baseurl: https://yum.neo4j.com/stable
    gpgkey: https://debian.neo4j.com/neotechnology.gpg.key
    gpgcheck: true

- name: Determine the neo4j package to install
  set_fact:
    neo4j_package: neo4j{% if neo4j_edition == 'enterprise' %}-enterprise{% endif %}{% if neo4j_version is defined %}-{{ neo4j_version }}{% endif %}
